<div class="panel panel-default">

  <table class="table table-bordered">
    <col style="width:50%">
    <col style="width:20%">
    <thead>
      <tr>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <h4> <%=  current_user %> </h4>
        <br>
        <p><%= review.description %></p>
      </td>
        <td>
          <p><%= review.rating %></p>
        </td>
      </tr>
    </tbody>
  </table>

</div>